/* ====== base ====== */
body {
  font-size: 14px;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  color: #3b3b3b;
  background: #fafafa;
}

/* ====== layout ====== */
.container {
  width: 1126px;
  margin: 0 auto;
}

.section--ranking {
  padding: 22px 0;
}

.section--layout {
  padding: 40px 0 103px;
  background: #fff;
}

.layout {
  display: flex;
  justify-content: space-between;
}

.layout__header {
  height: 42px;
}

.layout__title {
  font-weight: bold;
  font-size: 24px;
}

.layout__title--2 {
  font-size: 18px;
}

.layout--2 .layout__main {
  width: 779px;
}

.layout--2 .layout__sub {
  width: 308px;
}

/* ====== header ====== */
.header-logo {
  margin-right: 18px;
  margin-left: -3px;
}

.header-logo__img {
  width: 122px;
  height: 22px;
}

.header-desc {
  color: #bfc9d7;
  font-size: 12px;
  font-weight: normal;
}

.header-action-nav {
  display: flex;
  margin-left: auto;
}

.header-action-nav__item + .header-action-nav__item {
  margin-left: 11px;
}

.header-action-list {
  display: flex;
  background: #345584;
  border-radius: 4px;
  padding: 9px 8px 8px;
}

.header-action-list__item {
  padding: 0 8px;
  font-size: 13px;
  color: #fff;
}

.header-action-list__item + .header-action-list__item {
  border-left: 1px solid #bfc9d7;
}

.header-action-list__link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.header-action-list__link:hover {
  text-decoration: underline;
}

.header-search {
  display: flex;
}

.header-search__input {
  height: 30px;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 258px;
  padding: 9px 15px 8px;
  font-size: 13px;
  background: #fff;
}

.header-search__input:focus {
  outline-color: #449ae0;
}

.header-search__btn {
  width: 30px;
  height: 30px;
  padding: 7px;
  background: #3081c9;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: .2s;
}

.header-search__btn:hover {
  background: #449ae0;
}

.header-search__btn:focus {
  outline: none;
}

.header-search__icon {
  display: block;
}

.header-service-nav {
  margin-top: 8px;
}

.header-service-list {
  display: flex;
  margin-left: -8px;
}

.header-service-list__item {
  padding: 0 8px;
  font-size: 13px;
  color: #bfc9d7;
}

.header-service-list__item + .header-service-list__item {
  border-left: 1px solid #bfc9d7;
}

.header-service-list__link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.header-service-list__link:hover {
  color: #fff;
}

.header-service-list__link.is-active {
  font-weight: bold;
  color: #fff;
}

.header {
  background: #24436f;
  height: 75px;
  padding: 13px 0 8px;
}

.header__main {
  display: flex;
  align-items: center;
}

/* ====== global-nav ====== */
.global-nav {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.global-nav-list {
  display: flex;
  justify-content: center;
}

.global-nav-list__item {
  padding: 12px 10px;
  font-size: 13px;
  color: #294c7a;
}

.global-nav-list__link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.global-nav-list__link:hover {
  font-weight: bold;
}

.global-nav-list__link.is-active {
  font-weight: bold;
}

/* ====== sidebar ====== */
.sidebar__title {
  font-size: 18px;
}

.sidebar__content {
  padding: 15px 0 20px;
  border-bottom: 1px solid #e4e4e4;
}

/* ====== footer ====== */
.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu__content {
  width: 25%;
}

.footer-menu__content--double {
  width: 50%;
}

.footer-menu__title {
  color: #000;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 9px;
}

.footer-list, .footer-list--double {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 180px;
  flex-wrap: wrap;
}

.footer-list--double .footer-list__item {
  width: 50%;
}

.footer-list__item {
  height: 30px;
}

.footer-list__link {
  display: inline-block;
  padding: 9px 0;
  text-decoration: none;
  color: #797979;
  font-size: 12px;
  transition: .2s;
}

.footer-list__link:hover {
  color: #202020;
  text-decoration: underline;
}

.footer-nav {
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #e0e0e0;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}

.footer-nav-list__item {
  padding: 0 8px;
  color: #797979;
  font-size: 12px;
}

.footer-nav-list__link {
  display: block;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: .2s;
}

.footer-nav-list__link:hover {
  color: #202020;
  text-decoration: underline;
}

.footer-copy {
  display: inline-block;
  margin-top: 18px;
  font-size: 11px;
  color: #797979;
}

.footer {
  padding: 60px 0 9px;
}

/* ====== comopnents ====== */
.tile {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.tile__item {
  flex: 1;
  background: #fff;
  position: relative;
  transition: .2s ease-out;
}

.tile__item + .tile__item {
  margin-left: 8px;
}

.tile__item:hover {
  box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.18);
  transform: translateY(-1px);
}

.tile__label {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: #24436f;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  text-indent: -3px;
  z-index: 1;
}

.tile__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.tile__img {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.tile__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .2s ease-out;
}

.tile__content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.4;
}

.tile__title {
  font-weight: normal;
  font-size: 13px;
}

.tile__meta {
  color: #a2a2a2;
}

.tile__desc {
  font-size: 12px;
}

.tile__subtitle {
  font-size: 13px;
  color: #a2a2a2;
}

.tile__inner-link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  transition: .2s ease-out;
}

.tile__inner-link:hover {
  color: #24436f;
}

.tile__icon {
  width: 15px;
  height: 15px;
  vertical-align: -2px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -9px;
}

.tag__item {
  margin: 0 10px 9px 0;
}

.tag .tag__text, .tag .tag__text--more {
  display: block;
  padding: 8px;
  min-width: 3em;
  text-align: center;
  border-radius: 14px;
  font-size: 12px;
  transition: .2s;
}

.tag__text {
  background: #f1f1f1;
  color: #3b3b3b;
}

.tag__text:hover {
  background: #e1e1e1;
}

.tag__text--more {
  background: transparent;
  border: 1px solid #f1f1f1;
}

.tag__text--more:hover {
  transform: translateX(8px);
  background: inherit;
  box-shadow: -8px 0 0 #f1f1f1;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: #3081c9;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transition: .2s ease-out;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18);
  background: #449ae0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.card__item {
  width: calc(50% - 9px);
  transition: .2s ease-in;
}

.card__item--bb {
  border-bottom: 1px solid #e4e4e4;
}

.card__item:hover .card__img {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
}

.card__item:hover .card__img img {
  transform: scale(1.1);
}

.card__wrapper {
  display: flex;
  height: 100%;
  padding: 15px 0;
  flex-direction: column;
  justify-content: space-between;
  color: #3b3b3b;
  text-decoration: none;
}

.card__content {
  display: flex;
}

.card__title {
  flex: 1;
  margin-right: 15px;
  font-size: 14px;
  line-height: 1.6;
}

.card__img {
  width: 100px;
  height: 66px;
  overflow: hidden;
  transition: .2s ease-in;
}

.card__img img {
  display: block;
  width: 100px;
  height: 66px;
  object-fit: cover;
  object-position: center;
  transition: inherit;
}

.card__meta {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #a2a2a2;
}

.card__desc {
  font-size: 12px;
  margin-right: 12px;
}

.card__icon {
  vertical-align: -2px;
}

.card__subtitle {
  font-size: 13px;
}

.card__subtitle--link {
  text-decoration: none;
  color: #a2a2a2;
  transition: .2s ease-in;
}

.card__subtitle--link:hover {
  color: #24436f;
}

.card__more {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
