$bg-main: #24436f;
$bg-body: #fafafa;
$bg-white: #fff;

$color-black: #3b3b3b;
$color-dark: #797979;
$color-white: #fff;
$color-light: #bfc9d7;
$color-muted: #a2a2a2;
$color-main: #24436f;

$border-light: #e4e4e4;

$btn-main: #3081c9;
