%footer-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 180px;
  flex-wrap: wrap;
}
.footer-list {
  @extend %footer-list;
  &--double {
    @extend %footer-list;
    .footer-list__item {
      width: 50%;
    }
  }
  &__item {
    height: 30px;
  }
  &__link {
    display: inline-block;
    padding: 9px 0;
    text-decoration: none;
    color: $color-dark;
    font-size: 12px;
    transition: .2s;
    &:hover {
      color: #202020;
      text-decoration: underline;
    }
}
}