.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  &__item {
    padding: 0 8px;
    color: $color-dark;
    font-size: 12px;
  }
  &__link {
    display: block;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    transition: .2s;
    &:hover {
      color: #202020;
      text-decoration: underline;
    }
  }
}