.btn {
  display: inline-block;
  padding: 12px 20px;
  color: $color-white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: $btn-main;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.24);
  transition: .2s ease-out;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18);
    background: #449ae0;
  }
}