/* ====== 背景色付きメニュー ====== */

.colored-menu {
  display: flex;
  background: #345584;
  border-radius: 4px;
  padding: 9px 8px 8px;
  &__item {
    & + & {
      border-left: 1px solid $color-light;
    }
  }
  &__link {
    margin: -9px 0 -8px;
    padding: 9px 8px 8px;
    font-size: 13px;
    color: $color-white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}