/* ====== Flex ====== */
/*
  親要素にnegative marginをつけることで
  隣接要素のへのmarginの影響をなくす
*/

%flex {
  display: flex;
  flex-wrap: wrap;
}
.flex {
  $this: & !global;
  @extend %flex;
  @mixin flex($modifier, $gap-x, $gap-y) {
    &--#{$modifier} {
      @extend %flex;
      margin-top: -$gap-y;
      margin-left: -$gap-x;
      #{$this}__item {
        margin-top: $gap-y;
        margin-left: $gap-x;
      }
    }
  }
  @include flex('tags', 10px, 9px);
}