/* ====== Flexboxを使用したGridスタイル ====== */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  &__cell {
    /* space-betweenを指定しているため3カラム以上にする際には余った要素の余白に注意 */
    @mixin cellSize($cols, $gap) {
      @if $gap == 0 {
        width: #{(100 / $cols)+'%'};
      } @else {
        width: calc(#{(100 / $cols)+'%'} - #{($gap * ($cols - 1) / $cols)});
      }
    }
    width: 100%;
    &--tile {
      @include cellSize(6, 8px);
    }
    &--card {
      @include cellSize(2, 18px);
    }
    &--list {
      @include cellSize(4, 0);
    }
    &--list-double {
      @include cellSize(2, 0);
    }
    &--main {
      width: 779px;
    }
    &--sub {
      width: 308px;
    }
  }
}

