/* ====== タグ ====== */

%tag {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 11px;
  font-size: 12px;
  transition: .2s;
  color: $color-black;
}
.tag {
  $bg: #f1f1f1;
  background: $bg;
  @extend %tag;

  &:hover {
    background: #e1e1e1;
  }

  &--more {
    @extend %tag;
    border: 1px solid $bg;

    &:hover {
      transform: translateX(8px);
      box-shadow: -8px 0 0 $bg;
    }
  }
}