/* ====== タイル ====== */

.tile {
  background: $bg-white;
  position: relative;
  height: 100%;
  transition: .2s ease-out;
  &:hover {
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.18);
    transform: translateY(-1px);
  }
  &__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: .2s ease-out;
    }
  }
  &__content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.4;
  }
  &__title {
    font-weight: normal;
    font-size: 13px;
  }
  &__meta {
    color: $color-muted;
  }
  &__desc {
    font-size: 12px;
  }
  &__subtitle {
    font-size: 13px;
    color: $color-muted;
    & .tile__subtitle-link {
      margin: -8px;
      padding: 8px;
      transition: .2s ease-out;
      &:hover {
        color: $color-main;
      }
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
    vertical-align: -2px;
  }
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: $bg-main;
    color: $color-white;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    text-indent: -3px;
    z-index: 1;
  }
}
