/* ====== フッターリストの配置スタイル ====== */

.footer-lists {
  /*
    Gridの対応状況を見て変更
    HTMLのfooter-list--itemクラスも不要になる
  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  */

  /* ↓ Grid適用時に削除可能なスタイル */
  display: flex;
  &__item {
    flex: 1;
  }
  &__item--double {
    flex: 2;
  }
  /* 削除可能スタイルここまで */
  &__title {
    color: #000;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 9px;
  }
}