/* ====== フッターナビ ====== */

.footer-nav {
  display: flex;

  &__item {
    margin: 0 10px;
    color: $color-dark;
    font-size: 12px;
    &:hover {
      color: #202020;
    }
    & .footer-nav__item-link {
      margin: -8px;
      padding: 8px;
    }
  }
}
