/* ====== フッターの各リストのスタイル ====== */

.footer-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 180px;
  
  &__item {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color-dark;
    & .footer-list__item-btn {
      padding: 8px;
      margin: -8px;
      &:hover {
        color: #202020;
        text-decoration: underline;
      }
    }
  }
}