.global-nav-list {
  display: flex;
  justify-content: center;
  &__item {
    padding: 12px 10px;
    font-size: 13px;
    color: #294c7a;
  }
  &__link {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    &:hover {
      font-weight: bold;
    }
    &.is-active {
      font-weight: bold;
    }
  }
}