.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  
  &__item {
    width: calc(50% - 9px);
    transition: .2s ease-in;
    &--bb {
      border-bottom: 1px solid $border-light;
    }
    &:hover .card__img {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
      img {
        transform: scale(1.1);
      }
    }
  }
  
  &__wrapper {
    display: flex;
    height: 100%;
    padding: 15px 0;
    flex-direction: column;
    justify-content: space-between;
    color: $color-black;
    text-decoration: none;
  }
  
  &__content {
    display: flex;
  }
  
  &__title {
    flex: 1;
    margin-right: 15px;
    font-size: 14px;
    line-height: 1.6;
  }
  
  &__img {
    width: 100px;
    height: 66px;
    overflow: hidden;
    transition: .2s ease-in;
    img {
      display: block;
      width: 100px;
      height: 66px;
      object-fit: cover;
      object-position: center;
      transition: inherit;
    }
  }
    
  &__meta {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: $color-muted;
  }
  
  &__desc {
    font-size: 12px;
    margin-right: 12px;
  }
  
  &__icon {
    vertical-align: -2px;
  }
  
  &__subtitle {
    font-size: 13px;
    &--link {
      text-decoration: none;
      color: $color-muted;
      transition: .2s ease-in;
      &:hover {
        color: $color-main;
      }
    }
  }
}
