.footer {
  padding: 60px 0 9px;
  &__info {
    margin-top: 20px;
    padding-top: 8px;
    border-top: 1px solid #e0e0e0;
  }
  &__copy {
    display: inline-block;
    margin-top: 10px;
    font-size: 11px;
    color: $color-dark;
  }
}