.layout {
  display: flex;
  justify-content: space-between;
  &__header {
    height: 42px;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    &--2 {
      font-size: 18px;
    }
  }
  
  &--2 {
    .layout__main {
      width: 779px;
    }
    .layout__sub {
      width: 308px;
    }
  }
}