.logo {
  display: flex;
  align-items: center;
  
  &__img {
    width: 122px;
    height: 22px;
    margin-left: -3px;
    margin-right: 18px;
  }
  &__desc {
    color: $color-white;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    color: $color-light;
  }
}