
.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  &__link {
    display: block;
    padding: 0 8px;
    color: $color-light;
    text-decoration: none;
    transition: .2s;
  }

  &--header {
    margin-left: -8px;
    .menu__item + .menu__item {
      border-left: 1px solid $color-white;
    }
    .menu__link {
      color: $color-light;
      &:hover {
        color: $color-white;
      }
      &--active {
        font-weight: bold;
        color: $color-white;
      }
    }
  }

  &--action {
    align-items: center;
    padding: 8.5px 8px;
    .menu__item + .menu__item {
      border-left: 1px solid $color-light;
    }
    .menu__link {
      font-size: 13px;
      color: $color-white;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--category {
    justify-content: center;
    padding: 0;
    .menu__link {
      font-size: 13px;
      padding: 12px 10px;
      color: #294c7a;
      &--active {
        font-weight: bold;
      }
      &:not(.menu__link--active):hover {
        background: #24436f0f;
      }
    }
  }

  &--footer {
    margin-left: -8px;
    .menu__link {
      color: $color-dark;
      padding: 0 10px;
      font-size: 12px;
      &:hover {
        color: #202020;
        text-decoration: underline;
      }
    }
  }

  &--tag {
    
    .menu__item {
      margin-right: 10px;
      margin-bottom: 9px;
    }
  
    .menu__link {
      padding: 8px;
      min-width: 40px;
      text-align: center;
      border-radius: 14px;
      font-size: 12px;
      background: #f1f1f1;
      color: $color-black;
      transition: .2s;
      &:hover {
        background: #e1e1e1;
      }
      &--more {
        background: transparent;
        border: 1px solid #f1f1f1;
        &:hover {
          transform: translateX(8px);
          background: inherit;
          box-shadow: -8px 0 0 #f1f1f1;
        }
      }
    }
  }
}