.tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -9px;
  &__item {
    margin: 0 10px 9px 0;
  }
  %__text {
    display: block;
    padding: 8px;
    min-width: 3em;
    text-align: center;
    border-radius: 14px;
    font-size: 12px;
    transition: .2s;
  }
  &__text {
    @extend %__text;
    background: #f1f1f1;
    color: $color-black;
    &:hover {
      background: #e1e1e1;
    }
    &--more {
      @extend %__text;
      background: transparent;
      border: 1px solid #f1f1f1;
      &:hover {
        transform: translateX(8px);
        background: inherit;
        box-shadow: -8px 0 0 #f1f1f1;
      }
    }
  }
}