.header-search {
  display: flex;
  &__input{
    height: 30px;
    border-radius: 4px 0 0 4px;
    border: none;
    width: 258px;
    padding: 9px 15px 8px;
    font-size: 13px;
    background: $bg-white;
    &:focus {
      outline-color: #449ae0;
    }
  }

  &__btn {
    width: 30px;
    height: 30px;
    padding: 7px;
    background: $btn-main;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: .2s;
    &:hover {
      background: #449ae0;
    }
    &:focus {
      outline: none;
    }
  }
  
  &__icon {
    display: block;
  }
}