/* ====== グローバルナビ内部のリスト ====== */

.global-nav-menu {
  display: flex;
  justify-content: center;
  &__btn {
    padding: 12px 10px 10px;
    font-size: 13px;
    color: #294c7a;
    display: block;
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
    &.is-active {
      font-weight: bold;
    }
  }
}